@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 200px;
    grid-gap: 14px;
    margin: 102px auto 0;
    width: min-content;
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 284px);
        grid-auto-rows: 188px;
        grid-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, calc(((100vw - 48px) - 16px) / 2));
        grid-auto-rows: calc((((100vw - 48px) - 16px) / 2) / 1.5);
        margin: 97px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        grid-gap: 15px;
        grid-template-columns: calc(100vw - 2rem);
        grid-auto-rows: calc((100vw - 2rem) / 1.5);
        margin: 64px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-gap: 8px;
    }
}
