.comment__quote {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 42px auto 0;
}

@media screen and (max-width: 1023px) {
    .comment__quote {
        font-size: 16px;
        line-height: 23px;
        order: 2;
        margin-top: 24px;
    }
}