.cover__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin: auto auto 48px;
    max-width: 413px;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        max-width: 382px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin: 45px auto auto;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin: 7px auto auto;
        max-width: 50vw;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: calc(100vw - 32px);
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin: 7px auto auto;
    }
}