.video {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    margin: 102px auto 0;
}

.video__container {
    width: 928px;
    height: 288px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 72px auto 0;
}

.video__item {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 288px;
    /*background-color: #000000;
    opacity: 1;*/
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.video__item_kamchatka {
    background-image: url(../../images/video_item_Image1.png);
}

.video__item_observatory {
    background-image: url(../../images/video_item_Image2.png);
}

.video__item_kamchatka.video__item:hover {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../../images/video_item_Image1.png);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.video__item_observatory.video__item:hover {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../../images/video_item_Image2.png);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.video__icon-play {
    width: 41px;
    margin-top: 30px;
    margin-left: 30px;
}

.video__duration {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: auto;
    margin-left: 30px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.video__container-link {
    text-decoration-line: none;
}

.video__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 0;
    max-width: 322px;
}

.video__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 18px;
    margin-bottom: 35px;
}

@media screen and (min-width: 1280px) {
    .video__container {
        width: 1194px;
        height: max-content;
    }
    .video__item {
        width: 583px;
        height: 323px;
    }
}

@media screen and (max-width: 1023px) {
    .video__container {
        width: calc(100vw - 48px);
        height: max-content;
        margin: 56px auto 0;
    }
    .video__item {
        width: calc(((100vw - 48px) - 16px) / 2);
        height: 200px;
    }
    .video__icon-play {
        margin-top: 25px;
        margin-left: 25px;
    }
    .video__duration {
        margin-left: 24px;
    }
    .video__title {
        font-size: 24px;
        line-height: 26px;
        margin-top: 9px;
        margin-left: 24px;
    }
    .video__subtitle {
        margin-left: 24px;
        margin-top: 12px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 425px) {
    .video__container {
        flex-direction: column;
    }
    .video__item {
        width: calc(100vw - 32px);
        margin-left: -8px;
        height: 200px;
    }
    .video__item_observatory {
        margin-top: 8px;
    }
}

@media screen and (max-width: 320px) {
    .video__item {
        height: 192px;
    }
}
