.video {
    display: flex;
    flex-direction: column;
    width: 928px;
    margin: 102px auto 0;
}

.video__container {
    width: 928px;
    height: 288px;
    display: flex;
    flex-direction: row;
}

.video__item {
    width: 456px;
    height: 288px;
    /*background-color: #000000;
    opacity: 1;*/
    flex-direction: column;
}

.video__item_kamchatka {
    background-image: url(../../images/video_item_Image1.png);
}

.video__item_observatory {
    background-image: url(../../images/video_item_Image2.png);
}

.video__item_kamchatka.video__item:hover {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../../images/video_item_Image1.png);
    cursor: pointer;
}

.video__item_observatory.video__item:hover {
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../../images/video_item_Image2.png);
    cursor: pointer;
}



.video__icon-play {
    margin-top: 30px;
    margin-left: 30px;
}

.video__duration {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-top: 54px;
    margin-left: 30px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.video__container-link {
    text-decoration-line: none;
}

.video__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 0;
    width: 322px;
}

.video__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 18px;
}