.video {
    display: flex;
    flex-direction: column;
    width: 928px;
    margin: 102px auto 0;
}

.video__container {
    width: 928px;
    height: 288px;
    display: flex;
    flex-direction: row;
}

.video__item {
    width: 456px;
    height: 288px;
    background-color: #000000;
    opacity: 1;
    flex-direction: column;
}

.video__item_kamchatka {
    background-image: url(../../images/video_item_Image1.png);
}

.video__item_observatory {
    background-image: url(../../images/video_item_Image2.png);
}

.video__item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.video__icon-play {
    position: relative;
    top: 30px;
    left: 30px;
}

.video__duration {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    position: relative;
    top: 54px;
    left: 30px;
    color: #FFFFFF;
}

.video__container-link {
    text-decoration-line: none;
}

.video__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    position: relative;
    top: 12px;
    left: 30px;
}