@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);

.header {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    align-content: flex-end;
    height: 3.25em;
}

@media screen and (max-width: 767px) {
    .header {
        margin-top: 16px;
    }
}