.video__item {
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 288px;
    /*background-color: #000000;
    opacity: 1;*/
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .video__item {
        width: 583px;
        height: 323px;
    }
}

@media screen and (max-width: 1023px) {
    .video__item {
        width: calc(((100vw - 48px) - 16px) / 2);
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .video__item {
        width: calc(100vw - 32px);
        margin-left: -8px;
        height: calc((100vw - 32px) / 2);
    }
}

@media screen and (max-width: 425px) {
    .video__item {
        width: calc(100vw - 32px);
        margin-left: -8px;
        height: 200px;
    }
}


@media screen and (max-width: 320px) {
    .video__item {
        height: 192px;
    }
}
