.intro__content-row {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 48px auto 0 0;
    max-width: 692px;
    /*height: 160px;*/
}

@media screen and (max-width: 768px) {
    .intro__content-row {
        max-width: calc(100vw - 3rem);
    }
}

@media screen and (max-width: 425px) {
    .intro__content-row {
        font-size: 16px;
        line-height: 27px;
        max-width: calc(100vw - 2rem);
    }
}