.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min-content;
    padding-inline-start: initial;
    margin-block-start: initial;
    margin-block-end: initial;
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}