.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: min-content;
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 48px);
    }
}