.lead__image {
    width: 928px;
    height: 554px;
    margin: 78px auto 0;
    /*background-image: url(../../../images/kalegin-michail-179870-unsplash1.png);
    background-size: cover;
    background-position: center;*/
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1280px) {
    .lead__image {
        width: 984px;
        margin-left: calc(((100vw - 96px) - 984px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .lead__image {
        margin-left: calc(((100vw - 16rem) - 984px) / 2);
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        width: calc(100% + 48px);
        height: initial;
        margin-left: -24px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        /*width: 100vw;*/
        height: 420px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        /*width: 100vw;*/
        height: initial;
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        /*width: 100vw;*/
        max-height: 211px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        width: 320px;
        max-height: 211px;
        margin-left: -16px;
    }
}
