@import url(./__title/intro__title.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__text-bold/intro__text-bold.css);

.intro {
    max-width: 928px;
    margin: 80px auto 0;
}

@media screen and (max-width: 425px) {
    .intro {
        margin: 4rem auto 0;
    }
}