@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraph-text/place__paragraph-text.css);

.place {
    display: grid;
    margin: 72px auto 0;
    grid-gap: 40px 32px;
    width: 928px;
    grid-template-columns: 440px 456px;
    grid-template-rows: max-content auto;
    grid-template-areas: 
    "title url"
    "photo main";
}

@media screen and (min-width: 1280px) {
    .place {
        margin: 92px auto 0;
        grid-gap: 60px 40px;
        grid-template-columns: 460px 484px;
        width: 984px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-gap: 40px 28px;
        width: 720px;
        grid-template-columns: 340px calc((100% - 340px) - 28px);
        grid-template-rows: max-content auto;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-areas: 
        "title"
        "photo"
        "main";
        grid-gap: 24px;
        grid-template-columns: calc(100vw - 32px);
        /*grid-template-rows: min-content;*/
    }
}

