@import url(./__links/footer__links.css);
@import url(./__ul-reset/footer__ul-reset.css);
@import url(./__link/footer__link.css);
@import url(./__copyrights/footer__copyrights.css);

.footer {
    display: flex;
    flex-direction: row;
    margin-top: 160px;
    margin-bottom: 48px;
    justify-content: space-between;
     max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 102px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        margin-bottom: 24px;
        justify-content: space-between;
        height: 312px;
    }
}