.footer__copyrights {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

@media screen and (max-width: 767px) {
    .footer__copyrights {
        text-align: left;
    }
}