.content-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
    margin: 102px auto 0;
    width: 928px;
}

.content-title_place_video {
    line-height: 78px;
}

.content-title_place_comments {
    line-height: 65px;
    }